body {
  font-family: 'ssf4', 'Courier New', Courier, monospace;
  background: var(--cor-secundaria);
}

body::before {
  content: "";
  background-image: url("../imagens/1cYrMYF.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}